.snake {
  width: 20px;
  height: 20px;
  background: #39c;
  position: absolute;;
}
.snake.snake-head {
  background: #39c;
  z-index: 100
}
.snake.red {
  background: red !important
}
.points {
  position: absolute;
  bottom:-50px;
  left:0
}
.meal {
    border-radius:9999px;
    background: yellowgreen;
    position: relative;
}

.box {
  border: 1px solid #666;
  position: relative;
  background: #212121;
  margin:auto;
}
h1 {
  text-align:center;
  padding:35px 0 
}
